@font-face {
  font-family: SF;
  src: url(./SF-Pro-Text-Regular.otf);
}

h1 {
  font-family: SF;
  color: #49367e;
}

h2 {
  font-family: SF;
  color: grey;
  font-size: 12px;
}

.buttons-container {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons {
  flex-direction: column;
}

/*Removes default blue outline of buttons*/
button:focus {
  outline: 0;
}

/*Common for all buttons*/
.button {
  display: flex;
  background-color: #ff5b24;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-family: SF;
  color: white;
  font-size: 18.5px;
  border: none;
  margin: 8px;
  height: 40px;
}


/*Regular payment button styling */
.regular {
  width: 210px;
}

.regular svg {
  margin-left: 6px;
  margin-top: 5px;
}

/*Small payment button styling*/
.small {
  width: 140px;
}

/*Express checkout button styling*/
.express {
  margin-bottom: 57px;
  width: 210px;
}

.express svg {
  margin-right: 6px;
  margin-top: 5px;
}

/*Small express checkout button styling*/
.small.express {
  width: 154px;
}

.small.express svg {
  margin-right: 6px;
  margin-top: 0;
}

/*Login button styling*/
.login {
  width: 218px;
}

.login svg {
  margin-left: 6px;
  margin-top: 5px;
}

/*Signup button styling*/
.signup {
  width: 278px;
  background-image: url("./assets/imgs/emma.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: right;
}

.signup svg {
  margin-left: -50px;
  margin-right: 12px;
}

/*Paymark button styling*/
.paymark {
  width: 42px;
  height: 27px;
}

/*Extra functionality*/
#code-container {
  margin: auto;
  width: 90vw;
  height: 45vh;
  background-color: #1D1E22;
  color: #C5C8D4;
  font-family: SF;
  display: flex;
  justify-content: space-between;
}

#html-container {
  text-align: center;
  width: 50%;
  
}

#css-container {
  text-align: center;
  width: 50%;
}

#css {
  width: 100%;
  height: 100%;
  background-color: rgb(43, 43, 43);
  border-left: 2px solid rgb(131, 132, 139);
  margin-left: -2px;
  
}

#html {
  text-align: left;
  font-size: 15px;
  width: 100%;
  height: 100%;
  background-color: rgb(43, 43, 43);
  overflow-x: auto;
}


